body {
    background: url(../img/WallpaperDogs-743770.jpg);
    background-color: aliceblue;
    background-blend-mode: luminosity;
}

#imagen_titulo {
    vertical-align: top;
    display: inline-block;
    padding: 0 0 0 37%;
    opacity: 0.95;
}

#txt-busqueda {
    display: inline-block;
}

#btn-buscar {
    display: inline-block;
}

.card {
    vertical-align: top;
    display: inline-block;
    opacity: 0.95;
    background-image: url(../img/pokedex.jpg);
    background-size: cover;
}

.btn {
    background-color: blue;
    color: whitesmoke
}





